In [2]:
#Dependencies: 
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from datetime import datetime as dt
import time 
import calendar
from numpy import array

In [3]:
#Import Data: 
df=pd.read_csv('./Data/Accidental_Drug_Related_Deaths_2012-2018_Clean.csv')
df.head()

,ID,Date,Age,Sex,Race,ResidenceCity,ResidenceCounty,ResidenceState,DeathCity,DeathCounty,...,COD,Heroin,Cocaine,Fentanyl,FentanylAnalogue,Benzodiazepine,AnyOpioid,DeathCityGeo,DeathCityLat,DeathCityLong
0,14-0273,6/28/2014 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Acute fent, hydrocod, benzodiazepine",NaN,NaN,Y,NaN,Y,NaN,"41.575155, -72.738288",41.575155,-72.738288
1,13-0102,3/21/2013 0:00,48.0,Male,Black,NORWALK,NaN,NaN,NORWALK,FAIRFIELD,...,Cocaine Intoxication,NaN,Y,NaN,NaN,NaN,NaN,"41.11805, -73.412906",41.118050,-73.412906
2,16-0165,3/13/2016 0:00,30.0,Female,White,SANDY HOOK,FAIRFIELD,CT,DANBURY,NaN,...,Acute Heroin and Cocaine Intoxication,Y,Y,NaN,NaN,NaN,Y,"41.393666, -73.451539",41.393666,-73.451539
3,16-0208,3/31/2016 0:00,23.0,Male,White,RYE,WESTCHESTER,NY,GREENWICH,NaN,...,Acute Fentanyl and Morphine Intoxication,Y,NaN,Y,NaN,NaN,Y,"41.026526, -73.628549",41.026526,-73.628549
4,13-0052,2/13/2013 0:00,22.0,Male,"Asian, Other",FLUSHING,QUEENS,NaN,GREENWICH,FAIRFIELD,...,Fentanyl Intoxication,NaN,NaN,Y,NaN,NaN,NaN,"41.026526, -73.628549",41.026526,-73.628549

In [4]:
#Fix the date format:
df["Date"] = pd.to_datetime(df["Date"])
df.head()

,ID,Date,Age,Sex,Race,ResidenceCity,ResidenceCounty,ResidenceState,DeathCity,DeathCounty,...,COD,Heroin,Cocaine,Fentanyl,FentanylAnalogue,Benzodiazepine,AnyOpioid,DeathCityGeo,DeathCityLat,DeathCityLong
0,14-0273,2014-06-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Acute fent, hydrocod, benzodiazepine",NaN,NaN,Y,NaN,Y,NaN,"41.575155, -72.738288",41.575155,-72.738288
1,13-0102,2013-03-21,48.0,Male,Black,NORWALK,NaN,NaN,NORWALK,FAIRFIELD,...,Cocaine Intoxication,NaN,Y,NaN,NaN,NaN,NaN,"41.11805, -73.412906",41.118050,-73.412906
2,16-0165,2016-03-13,30.0,Female,White,SANDY HOOK,FAIRFIELD,CT,DANBURY,NaN,...,Acute Heroin and Cocaine Intoxication,Y,Y,NaN,NaN,NaN,Y,"41.393666, -73.451539",41.393666,-73.451539
3,16-0208,2016-03-31,23.0,Male,White,RYE,WESTCHESTER,NY,GREENWICH,NaN,...,Acute Fentanyl and Morphine Intoxication,Y,NaN,Y,NaN,NaN,Y,"41.026526, -73.628549",41.026526,-73.628549
4,13-0052,2013-02-13,22.0,Male,"Asian, Other",FLUSHING,QUEENS,NaN,GREENWICH,FAIRFIELD,...,Fentanyl Intoxication,NaN,NaN,Y,NaN,NaN,NaN,"41.026526, -73.628549",41.026526,-73.628549

In [5]:
#Make the total death column:
df['ID']=df["ID"].str.replace('-', '')
df['ID']=df['ID'].astype('int64', errors='ignore')
df.ID.head()

0    140273
1    130102
2    160165
3    160208
4    130052
Name: ID, dtype: int64

In [6]:
df['Date'] = df.Date.map(dt.toordinal)

In [8]:
ser=pd.Series(index='Date', data='ID')
ser_df=ser.to_frame()

ser_df.reset_index(inplace=True)
ser_df.columns=['Years', 'Deaths']
ser_df.plot(kind='scatter', x='Date', y='ID')
plt.show()

TypeError: 'DataFrame' object is not callable