In [1]:
# import numpy as np
import pandas as pd
# import matplotlib.pyplot as plt

In [2]:
# load drug-related deaths dataset
dd_df = pd.read_csv("../opioid_deaths/Data/Opioid_Related_Deaths_2012-2018.csv")

In [3]:
# Process Data to extract the informatuon we need.
# We only require date, lat, long and number of deaths

# Make Date the Index of the dataframe
dd_df.index = pd.to_datetime(dd_df['Date'],infer_datetime_format=True)
deaths_data_df = dd_df.groupby([pd.Grouper(freq='M'),'DeathCityLat','DeathCityLong']).count()["ID"]
deaths_data_df = deaths_data_df.reset_index()
# Classify this information as "Deaths"
deaths_data_df['Type'] = 'Deaths'
deaths_data_df = deaths_data_df.rename(columns={'DeathCityLat': 'Latitude', 'DeathCityLong': 'Longitude', "ID": 'Amount'})

In [4]:
deaths_data_df.head()

        Date   Latitude  Longitude  Amount    Type
0 2012-01-31  41.051924 -73.539475       1  Deaths
1 2012-01-31  41.118050 -73.412906       1  Deaths
2 2012-01-31  41.179195 -73.189476       1  Deaths
3 2012-01-31  41.277971 -72.871954       1  Deaths
4 2012-01-31  41.308252 -72.924161       1  Deaths

In [5]:
# load rehab centers dataset
rhc_df = pd.read_csv("../opioid_deaths/Resources/TreatmentProgramsCT.csv")

In [6]:
rhc_data_df = pd.DataFrame()
years_lst = [2012, 2013, 2013, 2014, 2015, 2016, 2017, 2018]

for yr in years_lst:
    tmp_df = rhc_df.iloc[ :,[8,9]]
    tmp_df['Date'] = f"{yr}-01-01"
    tmp_df['Amount'] = 3
    tmp_df['Type'] = 'Rehab Ctr.'
    rhc_data_df = pd.concat([rhc_data_df,tmp_df], sort=False)
    
rhc_data_df = rhc_data_df[["Date","Latitude","Longitude","Amount","Type"]]

C:\Users\MEAGUILA\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\MEAGUILA\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
C:\Users\MEAGUILA\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [7]:
rhc_data_df.head(5)

         Date   Latitude  Longitude  Amount        Type
0  2012-01-01  41.212110 -73.206673       3  Rehab Ctr.
1  2012-01-01  41.209283 -73.164603       3  Rehab Ctr.
2  2012-01-01  41.209283 -73.164603       3  Rehab Ctr.
3  2012-01-01  41.161599 -73.217622       3  Rehab Ctr.
4  2012-01-01  41.681578 -72.940749       3  Rehab Ctr.

In [10]:
visual_data_df = pd.concat([deaths_data_df, rhc_data_df])
visual_data_df = visual_data_df.reset_index(inplace=False)

In [12]:
visual_data_df.to_csv('deaths_rehab_2012_2018.csv', index=False)