In [2]:
import warnings
warnings.simplefilter('ignore')

# %matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [5]:
deaths = pd.read_csv('Data/Opioid_Related_Deaths_2012-2018.csv')
deaths['DeathCity'].value_counts()

Other            819
HARTFORD         488
WATERBURY        317
NEW HAVEN        317
BRIDGEPORT       297
NEW BRITAIN      204
BRISTOL          128
MERIDEN          127
NORWICH          124
NEW LONDON       120
TORRINGTON       112
DANBURY          105
MANCHESTER        96
MIDDLETOWN        87
ENFIELD           73
EAST HARTFORD     67
MILFORD           64
STAMFORD          63
NORWALK           61
WEST HAVEN        60
DERBY             56
SOUTHINGTON       49
STRATFORD         49
WILLIMANTIC       47
HAMDEN            44
VERNON            43
GROTON            42
NEW MILFORD       41
NAUGATUCK         38
BRANFORD          33
WALLINGFORD       32
WEST HARTFORD     28
WETHERSFIELD      27
PUTNAM            26
EAST HAVEN        26
SHELTON           25
PLAINVILLE        22
NEWINGTON         21
GLASTONBURY       20
WINDSOR           20
ANSONIA           19
FARMINGTON        19
WATERTOWN         17
WINDSOR LOCKS     17
GREENWICH         15
Name: DeathCity, dtype: int64

In [15]:
deaths_forML = deaths_nonan[['ID', 'Age', 'Sex', 'Race', 'DeathCity', 'Drug_Category'
       ]]
deaths_forML.head()

        ID   Age     Sex          Race      DeathCity      Drug_Category
1  16-0165  30.0  Female         White        DANBURY             Heroin
2  16-0208  23.0    Male         White      GREENWICH             Heroin
3  13-0052  22.0    Male  Asian, Other      GREENWICH  Synthetic Opioids
4  14-0277  23.0    Male         White        BRISTOL             Heroin
5  12-0205  21.0  Female         White  WEST HARTFORD             Heroin