In [2]:
import warnings
warnings.simplefilter('ignore')

# %matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [13]:
deaths = pd.read_csv('Data/Opioid_Related_Deaths_2012-2018.csv')
deaths_nonan = deaths.dropna(subset=['Age', 'Sex','Race','DeathCity'])
deaths_nonan.count()

ID                      4494
Date                    4494
Age                     4494
Sex                     4494
Race                    4494
ResidenceCity           4341
ResidenceCounty         3813
ResidenceState          3218
DeathCity               4494
DeathCounty             3507
Location                4479
LocationifOther          534
DescriptionofInjury     3819
InjuryPlace             4444
InjuryCity              3048
InjuryCounty            2153
InjuryState             1288
COD                     4494
Heroin                  4494
Synthetic Opioids       4494
Prescription Opioids    4494
DeathCityGeo            4494
DeathCityLat            4494
DeathCityLong           4494
Drug_Category           4494
dtype: int64

In [15]:
deaths_forML = deaths_nonan[['ID', 'Age', 'Sex', 'Race', 'DeathCity', 'Drug_Category'
       ]]
deaths_forML.head()

        ID   Age     Sex          Race      DeathCity      Drug_Category
1  16-0165  30.0  Female         White        DANBURY             Heroin
2  16-0208  23.0    Male         White      GREENWICH             Heroin
3  13-0052  22.0    Male  Asian, Other      GREENWICH  Synthetic Opioids
4  14-0277  23.0    Male         White        BRISTOL             Heroin
5  12-0205  21.0  Female         White  WEST HARTFORD             Heroin